/* color web - #2196F3;*/
/* color buttons - #2196F3;*/
/* color text black - #212121;*/
/* color text no black - #757575;*/
/* background section: #2F303A;

#F5F4FA;*/

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --color-portfolio-button: #f5f4fa;
  --color-hero-end-footer: #2f303a;
}
body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.06em;
}

ul {
  list-style: none;
}
.logo-web {
  color: var(--accent-color);
}
/*-------------------------------header-----------------------------*/
.header {
  background-color: rosybrown;
}
.logo {
  text-decoration: none;
  font-family: Raleway;
  color: var(--title-text-color);
  font-size: 26px;
  line-height: 1.42;
  letter-spacing: 0.03em;
}

/*site-nav*/
.header .header-nav .header-nav-list .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header .header-nav .header-nav-list .link:hover,
.header .header-nav .header-nav-list .link:focus {
  color: var(--accent-color);
}
/*contacts*/

.contacts {
  margin: 0;
  padding: 0;
}
.mail {
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.tell {
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contacts .tell:hover,
.contacts .mail:hover {
  color: var(--accent-color);
}
/*----------------------------main-------------------------------*/
/*hero-setion*/
.hero-section {
  background-color: var(--color-hero-end-footer);
}
/*hero*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}
.hero-button {
  display: inline-block;
  border: 2px;
  border-color: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  background-color: var(--color-portfolio-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  height: 50px;
}

.span-button {
  padding: 10px 32px 10px 32px;
}

.hero-section .hero-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*----------------------------------------our qualities section------------------------------*/
/*скрывае заголовок наши качества*/
.our-qualities {
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
}
.our-qualities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.qualities {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*what-we-do section*/
.what-we-do,
.comand {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*comand*/
.comand-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.profesion {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*------------------------------------footer---------------------------------*/
.adress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
/*-------------------------------------------------portfolio--------------------------*/
/*main*/
.portfolio-button-section {
}
.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--color-portfolio-button);
  color: var(--title-text-color);
  border: var(--color-portfolio-button);
  border-radius: 4px;
  cursor: pointer;
  min-width: 73px;
  height: 30px;
  margin: 6px 22px;
}

.main .portfolio-button-section .portfolio-button:hover,
.main .portfolio-button-section .portfolio-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-card-section {
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-title-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio-link {
  text-decoration: none;
}
